@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    box-sizing: border-box;
    margin: 20px;
    padding: 0;

}

h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #162542;
}

h2 {
    font-family: "Barlow", sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #162542;
}

h3 {
    font-family: "Barlow", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #162542;
}

p {
    font-family: "Barlow", sans-serif;
    font-size: 1.25em;
    color: #7B8BAD;
}

button  {
    border: none;
    border-radius: 6px;
    width: 150px;
    height: 50px;
    background-color: #E8EFF2;
}
button a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #162542; 
}

header {
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.header-button:hover a {
    color: #E8EFF2;
}

.header-button:hover {
    background-color: #162542;
    cursor: pointer;
}

.header-button {
    position: absolute;
    left: 270px;
}

.topdiv-button {
    background-color: #F16718;
}
.topdiv-button a {
    color: #E8EFF2;
}

.topdiv-button:hover a {
    color:#FFF;
}

.topdiv-button:hover {
    background-color: #FF9B62;
    cursor: pointer;
}

.image-keyboard img {
    width: 420px;
    height: auto;
    border-radius: 15px;
}
.flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding: 30px 0;
    
}

.topdiv-text {
    padding-bottom: 30px;
}

.flex p {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.middle-div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    padding-top: 40px;
}

.grid-1 {
    width: 150px;
    height: 240px;
    border-radius: 15px;
    background-image: url("../assets/mobile/image-phone-and-keyboard.jpg");
    background-size: cover;
    background-color: #F16718;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.grid-2 img {
    width: 250px;
    height: 240px;
    border-radius: 15px;    
}
.grid-3 {
    grid-column: span 3;
    text-align: center;
    padding-top: 40px;
}

.grid-3 h2 {
    margin: 0 40px;
    padding: 0 30px;
}

.grid-3 p {
    margin: 20px;
    padding: 0 20px 0 20px;
}

.bottom-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.bottom-div  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.bottom-div svg {
    background-color: #F16718;
    border-radius: 8px;
    padding: 5px 10px;
    width: auto;
    height: auto;
    margin-left: 50px;
}

.bottom-div h3 {
   margin-left: 30px;
    padding-left: 30px;
}

.bottom-div p {
    margin-left: 20px;
    padding-left: 20px;
}


footer {
    font-size: 12px;
    display: flex;
    justify-content: center; 
    padding-top: 40px;
    margin-left: 30px;
}

footer p:first-child {
    font-weight: bold;
    padding-right: 3px;
}


@media only screen and (min-width: 768px) {
    
    .header-button {
        position: absolute;
        left: 800px;
    }

    .top-div {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 60px;
         padding-top: 20px;
    }

    .topdiv-text {
        text-align: left;
    }

    .image-keyboard img {
        display: none;
    }

    .image-keyboard {
        min-width: 580px;
        height: 480px;
        background-image: url("../assets/tablet/image-keyboard.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
    }

    .middle-div {
        gap: 40px;
    }

    .grid-1 {
        background-image: url("../assets/tablet/image-phone-and-keyboard.jpg");
        min-width: 320px;
        height: 480px;
    }

    .grid-2 img {
        display: none;
    }

    .grid-2 {
        background-image: url("../assets/tablet/image-glass-and-keyboard.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        min-width: 600px;
        height: 480px;
    }

    .middle-div {
        padding: 40px 0;
    }


    .grid-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .grid-3 h2 {
    padding: 0;
    margin: 0;
    text-align: left;
    }

    .grid-3 p {
    text-align: left;
    }

    .bottom-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    .bottom-div div {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        text-align: left;
    }

    .bottom-div svg {
        margin: 0;
    }
    .bottom-div h3 {
        margin-left: 0;
        padding-left: 0;
        padding-right: 80px;
        margin-right: 80px;
     }

     .bottom-div p {
        margin-left: 0;
        padding-left: 0;
    }

}

@media only screen and (min-width: 1200px) {

    .header-button {
        position: absolute;
        left: 1155px;
    }

    .image-keyboard {
        background-image: url("../assets/desktop/image-keyboard.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: 600px;
    }

    .topdiv-text {
        padding: 30px 0 0;
    }

    .topdiv-text p {
        padding-right: 40px;
    }

    .flex {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .flex p {
        padding-left: 30px;
    }

    .middle-div {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        gap: 20px;
    }

    .grid-1 {
        background-image: url("../assets/desktop/image-phone-and-keyboard.jpg");
        width: 320px;
        height: 600px
    }

    .grid-2 {
        width: 400px;
        height: 600px;
        background-image: url("../assets/desktop/image-glass-and-keyboard.jpg");
    }

    .grid-3 {
        display: flex;
        flex-direction: column;
        grid-column: auto;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 30px;
        margin-top: 80px;
        margin-left: 20px;
        padding-left: 20px;
    }

    .grid-3 p {
        text-align: left;
        padding: 0;
        margin: 0;
        line-height: 30px;
    }

    .bottom-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .bottom-div h3 {
        text-align: left;
        padding-right: 80px;
    }

}
