
/* font used barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* general content styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 120px;
 }


h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 3.5em;
    text-transform: uppercase;
    color: #162542;
}

h2 {
    font-family: "Barlow", sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: #162542;
}

h3 {
    font-family: "Barlow", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #162542;
}

p {
    font-family: "Barlow", sans-serif;
    font-size: 1.25em;
    color: #7B8BAD;
}

header {
    width: 1110px;
    height: 58px;
    margin-top: 20px;
    position: relative;
}

button  {
    font-size: 16px;
    font-family: "Barlow", sans-serif;
    border: none;
    border-radius: 6px;
    width: 175px;
    height: 58px;
    background-color: #E8EFF2;
}
button a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #162542; 
}


/* hover state styling */

.header-button:hover a {
    color: #E8EFF2;
}

.header-button:hover {
    background-color: #162542;
    cursor: pointer;
}

.header-button {
    position: absolute;
    right: 0;
}

.topdiv-button {
    background-color: #F16718;
}

.topdiv-button a {
    color: #E8EFF2;
}

.topdiv-button:hover a {
    color:#FFF;
}

.topdiv-button:hover {
    background-color: #FF9B62;
    cursor: pointer;
}


/* top container styling */

.top-div {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    margin: 50px 0;
}

.topdiv-text {
    width: 455px;
    height: 312px;
}

.topdiv-text p {
    padding: 20px 0 30px;
}

.image-keyboard {
    background-image: url("../assets/desktop/image-keyboard.jpg");
    width: 540px;
    height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 50px;
}
.flex {
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;  
}

.flex p {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

/* middle container styling  */
.middle-div {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
}

.grid-1 {
    width: 255px;
    height: 480px;
    border-radius: 10px;
    background-image: url("../assets/desktop/image-phone-and-keyboard.jpg");
    background-size: cover;
    background-color: #F16718;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.grid-2 {
    background-image: url("../assets/desktop/image-glass-and-keyboard.jpg");
    width: 445px;
    height: 480px;
    background-size: cover;
    border-radius: 10px;    
}
.grid-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 50px;
}

.grid-3 h2 { 
    width: 255px;
    height: 108px;
}

.grid-3 p {
    width: 327px;
    height: 104px;
}


/* bottom container styling */

.bottom-div {
    display: flex;
    justify-content: flex-start;
    column-gap: 40px;
    margin-top: 80px;
}

.bottom-div .svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.svg {
    background-color: #F16718;
    border-radius: 15px;
    width: 65px;
    height: 65px;
}

.highly, .baklit {
    width: 200px;
}

footer {
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

footer p:first-child {
    font-weight: bold;
    padding-right: 3px;
}

/* styling for tablets view  */
@media only screen and (max-width: 768px){

    body {
        margin: 0 0 10px 10px;
    }

    header {
        width: 689px;
    }

    .image-keyboard {
        background-image: url("../assets/tablet/image-keyboard.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 478px;
        height: 425px;
    }

    .middle-div {
        display: grid;
        grid-template-columns: 214px 445px;
        column-gap: 20px;
    }

    .grid-1 {
        background-image: url("../assets/tablet/image-phone-and-keyboard.jpg");
        background-size: cover;
        background-repeat: initial;
        width: 214px;
        height: 320px;
    }

    .grid-2 {
        background-image: url("../assets/tablet/image-glass-and-keyboard.jpg");
        background-size: cover;
        background-repeat: initial;
        width: 445px;
        height: 320px;
    }

    .grid-3 {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        gap: 30px;
        margin: 50px 0;
        width: 689px;
        height: 108px;
    }

    .grid-3 h2, .grid-3 p {
        width: auto;
        height: auto;
    }

    .bottom-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        width: 631px;
        height: 650px;
    }

    .battery {
        width: 175px;
    }
}

/* styling for mobile view */

@media only screen and (max-width: 375px){

    html, body {
    overflow-x: hidden;
}

    body {
    position: relative;
} 

    header {
        width: 327px;
        height: 48px;
    }

    .top-div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 30px 0 10px;
    }

    .topdiv-text {
        width: 327px;
        height: 286px;
    }

    .flex {
        gap: 20px;
    }

    .image-keyboard {
        background-image: url("../assets/mobile/image-keyboard.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 372px;
        height: 331px;
        margin: 30px 0 10px;
    }

    .middle-div {
        display: grid;
        grid-template-columns: 129px 220px;
        position: relative;
    }

    .grid-1 {
        background-image: url("../assets/mobile/image-phone-and-keyboard.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 129px;
        height: 193px;
    }

    .grid-2 {
        background-image: url("../assets/mobile/image-glass-and-keyboard.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 220px;
        height: 193px;
    }

    .grid-3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        margin: 50px 0;
    }

    .grid-3 h2 {
        width: 255px;
        height: 108px;
        margin: 0 50px;
    }

    .grid-3 p {
        width: 327px;
        height: 104px;
        margin: 0;
        padding: 0;
    }

    .bottom-div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        margin: 150px 0;
    }

    .bottom-div div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bottom-div h3 {
        width: 327px;
        height: 56px;
        padding: 0 60px;
        margin: 30px 0;
    }

    .bottom-div p {
        width: 327px;
        height: 104px;
        margin: 0 0 30px;
    }

    footer {
        margin-top: 750px;
    }
}