
/* font used barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* general content styling */
* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #162542;
}

h2 {
    font-family: "Barlow", sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #162542;
}

h3 {
    font-family: "Barlow", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #162542;
}

p {
    font-family: "Barlow", sans-serif;
    font-size: 1.25em;
    color: #7B8BAD;
}

header {
    width: 100%;
    padding-bottom: 20px;
    position: relative;
}

button  {
    font-size: 16px;
    font-family: "Barlow", sans-serif;
    border: none;
    border-radius: 6px;
    width: 175px;
    height: 58px;
    background-color: #E8EFF2;
}
button a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #162542; 
}

.header-button:hover a {
    color: #E8EFF2;
}

.header-button:hover {
    background-color: #162542;
    cursor: pointer;
}

.header-button {
    position: absolute;
    right: 0;
}

.topdiv-button {
    background-color: #F16718;
}
.topdiv-button a {
    color: #E8EFF2;
}

.topdiv-button:hover a {
    color:#FFF;
}

.topdiv-button:hover {
    background-color: #FF9B62;
    cursor: pointer;
}

.image-keyboard img {
    width: 372px;
    height: 331px;
    border-radius: 15px;
}
.flex {
    display: flex;
    justify-content: flex-start;
    gap: 40px;    
}


.topdiv-text {
    padding-bottom: 30px;
}

.flex p {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

/* middle container styling  */
.middle-div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5px;
    padding: 20px 0;
}

.grid-1 {
    width: 130px;
    height: 193px;
    border-radius: 15px;
    background-image: url("../assets/mobile/image-phone-and-keyboard.jpg");
    background-size: cover;
    background-color: #F16718;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    margin-left: -30px;
}

.grid-2 img {
    width: 220px;
    height: 193px;
    border-radius: 15px;    
}
.grid-3 {
    grid-column: span 3;
    text-align: center;
    padding-top: 40px;
}

.grid-3 h2 {
    margin: 20px 40px 0;
    padding: 0 30px;
}

.bottom-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.bottom-div  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.svg {
    background-color: #F16718;
    border-radius: 15px;
    width: 65px;
    height: 65px;
}

.highly {
    width: 150px;
}

.bluetooth {
    width: 200px;
}

.battery {
    width: 200px;
}

.baklit {
    width: 150px;
}

.bottom-div p {
    margin: 10px 0 70px;
}

footer {
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

footer p:first-child {
    font-weight: bold;
    padding-right: 3px;
}

/* styling for tablets view */
@media only screen and (min-width: 768px) {
    
    .top-div {
         display: flex;
         justify-content: flex-start;
         gap: 20px;
         padding-top: 20px;
    }

    .topdiv-text {
        width: 540px;
    }

    .header-button {
        position: absolute;
        right: 10px;
    }

    .image-keyboard img {
        display: none;
    }

    .image-keyboard {
        width: 478px;
        height: 425px;
        background-image: url("../assets/tablet/image-keyboard.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
        margin-right: -10px;
    }

    .middle-div {
        padding: 40px 0;
    }

    .grid-1 {
        background-image: url("../assets/tablet/image-phone-and-keyboard.jpg");
        width: 214px;
        height: 320px;
        margin-left: 0;
    }

    .grid-2 img {
        display: none;
    }

    .grid-2 {
        background-image: url("../assets/tablet/image-glass-and-keyboard.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        width: 480px;
        height: 320px;
    }

    .grid-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: left;
    }

    .grid-3 h2 {
    padding: 0;
    margin: 0;
    }

    .grid-3 p {
        padding-left: 30px;
        margin-left: 30px;
    }

    .bottom-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .bottom-div div {
        display: flex;
        align-items: baseline;
        justify-content: center;
        text-align: left;
    }

    .svg {
        padding: 0 18px;
    }

    .bottom-div h3 {
        margin-left: 0;
        padding-left: 0;
     }

}


/* styling for desktop view */

@media only screen and (min-width: 1200px) {

    body {
        margin: 20px 120px;
    }

    .header-button {
        position: absolute;
        right: 0;
    }

    .top-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .image-keyboard {
        background-image: url("../assets/desktop/image-keyboard.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 540px;
        height: 480px;
    }

    .topdiv-text {
        padding: 30px 0 0;
    }

    .topdiv-text p {
        padding-right: 40px;
    }

    .flex {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .flex p {
        padding-left: 30px;
    }

    .middle-div {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 20px;
    }

    .grid-1 {
        background-image: url("../assets/desktop/image-phone-and-keyboard.jpg");
        width: 255px;
        height: 480px
    }

    .grid-2 {
        width: 445px;
        height: 480px;
        background-image: url("../assets/desktop/image-glass-and-keyboard.jpg");
    }

    .grid-3 {
        display: flex;
        flex-direction: column;
        grid-column: auto;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
        width: 255px;
        height: 265px;
        margin-top: 80px;
    }

    .grid-3 p {
        padding: 0;
        margin: 0;
    }

    .bottom-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }


    .left {
        width: 255px;
        height: 240px;
        background-color: #e8effe;
        position: absolute;
        left: 0;
        top: 865px;
        border-radius: 15px;
        margin-left: -150px;
        z-index: -1;
    }

    .right {
        width: 255px;
        height: 240px;
        background-color: #e8effe;
        position: absolute;
        right: 0;
        top: 105px;
        border-radius: 15px;
        margin-right: -150px;
        z-index: -1;
    }

}
